<div class="wrapper">
    <div class="left">
        <div class="image-slider">
            <div class="image">
                <img src="../../../assets/img/book.webp" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/img/book.webp" alt="">
            </div>
        </div>
        <div class="main-image">
            <img src="../../../assets/img/book.webp" alt="">
        </div>
    </div>
    <div class="right">
        <h3>Gods Monsters and the Lucky Peach</h3>
        <div class="rating">
            <p class="btn-primary"> 4.3 <i class="fa-solid fa-star"></i></p>
        </div>
        <div class="author-publisher">
            <div class="author">
                <i class="fa-solid fa-pen-nib"></i>
                <p>Kelly Robson</p>
            </div>
            <div class="vr">

            </div>
            <div class="publisher">
                <i class="fa-solid fa-book"></i>
                <p>St. Martins Press</p>
            </div>
            <div class="vr">

            </div>
            <div class="publish-date">
                <i class="fa-solid fa-calendar-days"></i>
                <p>July 2021</p>
            </div>
        </div>
        <div class="desc">
            <h5 class="title">Description</h5>
            <div class="description" #desc>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus non quasi doloremque asperiores
                    alias quo, distinctio cum minima quae officiis exercitationem veniam consectetur, ab quod error
                    expedita nemo a eaque!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas tenetur repellendus illum quidem
                    sapiente aliquid modi culpa vel minima beatae!</p>
            </div>

            <button class="text-primary" (click)="readMore()" #btn>Read More</button>
        </div>
        <div class="quantity">
            <div class="btn-minus">
                <button class="btn btn-outline">-</button>
            </div>
            <div class="qty">
                <p>23</p>
            </div>
            <div class="btn-plus">
                <button class="btn btn-primary">+</button>
            </div>
        </div>

        <div class="price">
            <span class="amount"> &#8377; 181</span>
            <span class="cross"> &#8377; 185</span>
            <span class="discount">(-7%)</span>
        </div>

        <div class="btns">
            <button class="btn btn-primary">
                Add To Cart
            </button>
            <button class="btn btn-outline">
                Buy Now
            </button>
        </div>
        <div class="details">
            <h5 class="title">Product Details</h5>
            <div class="list">
                <table>
                    <tr>
                        <td class="th">Title</td>
                        <td class="td">Gods Monsters and the Lucky Peach</td>
                    </tr>
                    <tr>
                        <td class="th">Author</td>
                        <td class="td">Kelly Robson</td>
                    </tr>
                    <tr>
                        <td class="th">Publisher</td>
                        <td class="td">St. Martins Press</td>
                    </tr>
                    <tr>
                        <td class="th">Pages</td>
                        <td class="td">432</td>
                    </tr>
                    <tr>
                        <td class="th">Book Format</td>
                        <td class="td">Paperback</td>
                    </tr>

                    <tr>
                        <td class="th">Language</td>
                        <td class="td">English</td>
                    </tr>

                    <tr>
                        <td class="th">Publish Date</td>
                        <td class="td">July 2021</td>
                    </tr>

                    <tr>
                        <td class="th">Tags</td>
                        <td class="td tags" >
                            <span class="tag btn btn-primary">Drama</span>
                            <span class="tag btn btn-primary">Adventure</span>
                            <span class="tag btn btn-primary">Survial</span>
                            <span class="tag btn btn-primary">Biography</span>
                            <span class="tag btn btn-primary">Bestseller</span>
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
</div>