<div class="wrapper">
    <div class="title">
        <h3>Contact Us</h3>
    </div>
    <div class="content">
        <div class="left">
            <h3>Get in touch</h3>
            <p>Hey, Fill up this form and we will get back to you have you with us.</p>
            <div class="phone">
                <p>+91 86520 50510 (11am to 7pm, Mon-Fri)</p>
            </div>
            <div class="mail">
                <p>customer@bookrealm.com</p>
            </div>
            <div class="address">
                <p>Sun Paradise, 11th, Senapati Bapat Marg, Lower Parel, Mumbai, Maharashtra 400013</p>
            </div>
        </div>
        <div class="right">
            <form>
                <div class="row">
                    <div class="form-item">
                        <label for="firstName">First Name</label>
                        <input type="text" name="firstName" id="">
                    </div>
                    <div class="form-item">
                        <label for="lastName">Last Name</label>
                        <input type="text" name="lastName" id="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-item">
                        <label for="email">Email Id</label>
                        <input type="email" name="email" id="">
                    </div>
                    <div class="form-item">
                        <label for="phone">Phone No</label>
                        <input type="text" name="phone" id="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-item">
                        <label for="message">Message</label>
                        <textarea name="message" id=""></textarea>
                    </div>
                </div>
                <div class="row">

                </div>
            </form>
        </div>
    </div>
</div>
