.wrapper {
    margin-top: 80px;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    overflow: scroll;
}

.left {
    width: 50%;
    padding: 0 4rem;
}

.vr {
    border-left: 1px dashed var(--foreground-light);
}

.left .image-box {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box image {
    height: 100%;
}

.title {
    text-align: center;
}

.features {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    padding: 0 4rem;
    width: 100%;
}

.right .form .input-box {
    border: 1px solid var(--foreground-light);
    margin: 8px 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right .form .input-box input {
    padding: 10px 16px;
    border: none;
    outline: none;
}

#password {
    padding-right: 16px;
}

.disabled-button {
    background-color: var(--primary-variant-dim) !important;
}

.error-message {
    color: red;
    font-size: 12px;
    /* Adjust the font size as needed */
}

.invalid {
    color: var(--primary-variant);
}




.right .form .button button {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.form {
    margin-bottom: 1rem;
}

.other-methods {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-methods .google-login {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 8px; */
    border: 1px solid var(--foreground-light);
    margin: 1rem 0;
    border-radius: 8px;
    font-size: 0.8rem;
    color: var(--foreground-muted);
    /* width: fit-content; */
    width: 100%;
    padding: 4px 8px;
    cursor: pointer;
}

.google-login img {
    width: 34px;
    height: 34px;
}

.message {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
}

.message span {
    display: inline-block;
}

.text-primary {
    color: var(--primary-variant);
}

.rule {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rule p {
    margin: 0 1rem;
    font-weight: 700;
}

.hr {
    width: 20%;
    border-bottom: 2px solid var(--foreground-light);
}

@media screen and (max-width:540px) {

    .wrapper {
        flex-direction: column;
        padding: 1rem;
        gap: 0;

    }

    .left {
        width: 100%;
        padding: 0;
    }

    .right {
        width: 100%;
        padding: 0;
        text-align: center;
    }
}

@media screen and (min-width:540px) and (max-width:1024px) {

    .wrapper {
        /* flex-direction: column; */
        padding: 1rem;
        gap: 0;

    }

    .left {
        /* width: 100%; */
        padding: 1rem;
    }

    .right {
        /* width: 100%; */
        padding: 1rem;
        text-align: center;
    }

}