USE [bookrealm]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [uniqueidentifier] NOT NULL,
	[Street1] [nvarchar](max) NULL,
	[Street2] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Pincode] [int] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[Id] [uniqueidentifier] NOT NULL,
	[PlaceHolder] [nvarchar](max) NULL,
	[ClickUrl] [nvarchar](max) NULL,
	[BannerType] [int] NOT NULL,
 CONSTRAINT [PK_Banners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BannersInSection]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BannersInSection](
	[Id] [uniqueidentifier] NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
	[BannerId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_BannersInSection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[Id] [uniqueidentifier] NOT NULL,
	[SubTotal] [real] NOT NULL,
	[Discount] [real] NOT NULL,
	[Tax] [real] NOT NULL,
	[Shipping] [real] NOT NULL,
	[Total] [real] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[CartId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Rating] [real] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PublishDate] [datetime2](7) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DiscountPercentage] [real] NOT NULL,
	[Pages] [int] NOT NULL,
	[BookFormat] [nvarchar](max) NULL,
	[Language] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[AuthorName] [nvarchar](max) NOT NULL,
	[AuthorId] [uniqueidentifier] NOT NULL,
	[PublisherName] [nvarchar](max) NOT NULL,
	[PublisherId] [uniqueidentifier] NOT NULL,
	[GenreId] [uniqueidentifier] NULL,
	[SubgenreId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BooksInSection]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BooksInSection](
	[Id] [uniqueidentifier] NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
	[BookId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_BooksInSection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookTags]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTags](
	[Id] [uniqueidentifier] NOT NULL,
	[BookId] [uniqueidentifier] NOT NULL,
	[TagId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_BookTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [uniqueidentifier] NOT NULL,
	[BookId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CartId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Age] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeroInSections]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeroInSections](
	[Id] [uniqueidentifier] NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
	[HeroId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_HeroInSections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Heros]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Heros](
	[Id] [uniqueidentifier] NOT NULL,
	[PlaceHolder] [nvarchar](max) NULL,
	[ClickUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Heros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomePageSections]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomePageSections](
	[Id] [uniqueidentifier] NOT NULL,
	[SectionName] [nvarchar](max) NOT NULL,
	[SectionType] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_HomePageSections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Src] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Discriminator] [nvarchar](13) NOT NULL,
	[BannerId] [uniqueidentifier] NULL,
	[BookId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[HeroId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [uniqueidentifier] NOT NULL,
	[BookId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](500) NOT NULL,
	[Rating] [real] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[BookId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subgenres]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subgenres](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[GenreId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Subgenres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Mobile] [nvarchar](10) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[AccessToken] [nvarchar](max) NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[RefreshTokenExpiry] [datetime2](7) NOT NULL,
	[PasswordResetToken] [nvarchar](max) NULL,
	[PasswordResetTokenExpiry] [datetime2](7) NOT NULL,
	[Discriminator] [nvarchar](13) NOT NULL,
	[AdminDescription] [nvarchar](max) NULL,
	[AuthorDescription] [nvarchar](500) NULL,
	[PublisherDescription] [nvarchar](500) NULL,
	[FoundationDate] [datetime2](7) NULL,
	[WebsiteUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishlistItems]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishlistItems](
	[Id] [uniqueidentifier] NOT NULL,
	[WishlistId] [uniqueidentifier] NOT NULL,
	[BookId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_WishlistItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 09-03-2025 14:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Wishlists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240324144444_init', N'8.0.0-preview.5.23280.1')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240324145103_init2', N'8.0.0-preview.5.23280.1')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240324164215_init3', N'8.0.0-preview.5.23280.1')
GO
INSERT [dbo].[Addresses] ([Id], [Street1], [Street2], [City], [State], [Country], [Pincode], [UserId]) VALUES (N'f465a523-e665-4b27-e9eb-08dc56003c5c', NULL, NULL, NULL, NULL, NULL, 0, N'95a1d6e4-fc72-4e93-b6a3-08dc56003c58')
INSERT [dbo].[Addresses] ([Id], [Street1], [Street2], [City], [State], [Country], [Pincode], [UserId]) VALUES (N'b9ea4a14-e139-4d16-6e73-08dc563b98fd', NULL, NULL, NULL, NULL, NULL, 0, N'824c10f0-e2a8-4bae-675f-08dc563b98fa')
INSERT [dbo].[Addresses] ([Id], [Street1], [Street2], [City], [State], [Country], [Pincode], [UserId]) VALUES (N'aa06525e-67e6-4eb8-b61d-3cd441c813f9', NULL, NULL, NULL, NULL, NULL, 0, N'b7014592-8f73-4ce6-e7c3-08dc4c3ac647')
GO
-- INSERT [dbo].[Books] ([Id], [Title], [Rating], [Description], [PublishDate], [Price], [DiscountPercentage], [Pages], [BookFormat], [Language], [Country], [AuthorName], [AuthorId], [PublisherName], [PublisherId], [GenreId], [SubgenreId]) VALUES (N'4ba4fdba-4e07-4025-41da-08dc4cb5a088', N'Anthology Askew Volume 007: Askew
-- Thrills (Askew Anthologies)', 4.6, N'For this anthology we asked our authors to thrill us and they didnt disappoint. Thrills can mean different things to different folks and when you are Askew you never know what you will discover when you look.In these pages you will find action adventure romance fear and a host of writing that spans genres and styles. From hard-hitting fantasy with a half-dragon hero to diabolical science fiction where the plot twists will grab you and never let go. The ride includes a little of everything from the thrills of a rediscovered lost love to the chills of scientific experiment gone horribly awry.It is only fair to let you know that there ARE some very strong and explicitly narrated stories inside. If you are easily frightened or squeamish you may want to find a hand to hold before you start reading.', CAST(N'2019-11-30T00:00:00.0000000' AS DateTime2), CAST(907.00 AS Decimal(18, 2)), 23, 270, N'Paperback', N'English', N'Spain', N'Askew Rhetoric', N'b7014592-8f73-4ce6-e7c3-08dc4c3ac647', N'Rhetoric Askew LLC', N'1d265a17-0bcf-427e-e7c4-08dc4c3ac647', N'ba79d019-630f-4b9b-5ad0-08dc4c8a1139', N'05b35a0f-4fb9-48ac-2230-08dc4c8aed14')
GO
INSERT [dbo].[BooksInSection] ([Id], [SectionId], [BookId]) VALUES (N'6f064b0f-0be5-4ba0-318d-08dc611b5fe1', N'2ae51b7e-9e5c-4b37-708e-08dc611b5fb4', N'27d44d7c-3e84-4383-4159-08dc4cb5a088')
INSERT [dbo].[BooksInSection] ([Id], [SectionId], [BookId]) VALUES (N'76634d0c-0392-4c4a-318e-08dc611b5fe1', N'2ae51b7e-9e5c-4b37-708e-08dc611b5fb4', N'ec058ddd-fbe0-4392-415e-08dc4cb5a088')
INSERT [dbo].[BooksInSection] ([Id], [SectionId], [BookId]) VALUES (N'2a3b590b-0a93-4998-318f-08dc611b5fe1', N'2ae51b7e-9e5c-4b37-708e-08dc611b5fb4', N'7a99b0d9-1994-46af-4167-08dc4cb5a088')
GO
INSERT [dbo].[BookTags] ([Id], [BookId], [TagId]) VALUES (N'05165c52-b022-4c2e-d19d-08dc4cb5a0e4', N'60961c01-a2d9-48b4-4136-08dc4cb5a088', N'f31ef2a5-fd56-455f-3794-08dc4cb5a0df')
INSERT [dbo].[BookTags] ([Id], [BookId], [TagId]) VALUES (N'107cc8b2-e3a5-4952-d19e-08dc4cb5a0e4', N'60961c01-a2d9-48b4-4136-08dc4cb5a088', N'230a215b-b2a7-4176-3795-08dc4cb5a0df')
INSERT [dbo].[BookTags] ([Id], [BookId], [TagId]) VALUES (N'22aa629c-4c01-4c98-d19f-08dc4cb5a0e4', N'60961c01-a2d9-48b4-4136-08dc4cb5a088', N'74d16307-338c-4d42-3796-08dc4cb5a0df')
GO
INSERT [dbo].[Carts] ([Id], [UserId]) VALUES (N'3ce5585d-dbdc-4afa-b165-71cff9786e6a', N'b7014592-8f73-4ce6-e7c3-08dc4c3ac647')
INSERT [dbo].[Carts] ([Id], [UserId]) VALUES (N'801d14f0-1cb7-4a64-b0a1-c815b2ea6bfe', N'1d265a17-0bcf-427e-e7c4-08dc4c3ac647')
INSERT [dbo].[Carts] ([Id], [UserId]) VALUES (N'b58f4e6c-0ced-4b1d-25c7-08dc56003c5f', N'95a1d6e4-fc72-4e93-b6a3-08dc56003c58')
GO
INSERT [dbo].[Genres] ([Id], [Name], [Description]) VALUES (N'0eec93d7-47a0-49be-735d-08dc4c32907b', N'tempgenre', N'this is temp genre')
INSERT [dbo].[Genres] ([Id], [Name], [Description]) VALUES (N'061347ef-0303-406d-5ac6-08dc4c8a1139', N'Art,Film & Photography', N'Explore the world of visual arts and photography.')
INSERT [dbo].[Genres] ([Id], [Name], [Description]) VALUES (N'2e11f6c1-1daf-4cab-5ac7-08dc4c8a1139', N'English Language Teaching', N'Facilitate the learning and teaching of English.')
GO
INSERT [dbo].[HeroInSections] ([Id], [SectionId], [HeroId]) VALUES (N'7be57103-4932-424a-c6e7-08dc5ba6762a', N'6d019acf-01c0-43bb-18ac-08dc5ba67623', N'506c3a24-3971-4961-fe17-08dc5ba627a2')
INSERT [dbo].[HeroInSections] ([Id], [SectionId], [HeroId]) VALUES (N'477b5688-a264-4793-c6e8-08dc5ba6762a', N'6d019acf-01c0-43bb-18ac-08dc5ba67623', N'6b65397b-c337-4c27-fe18-08dc5ba627a2')
INSERT [dbo].[HeroInSections] ([Id], [SectionId], [HeroId]) VALUES (N'c1dd5697-e5f9-457a-c6e9-08dc5ba6762a', N'6d019acf-01c0-43bb-18ac-08dc5ba67623', N'ab4f7447-d5dc-4771-fe19-08dc5ba627a2')
GO
INSERT [dbo].[Heros] ([Id], [PlaceHolder], [ClickUrl]) VALUES (N'506c3a24-3971-4961-fe17-08dc5ba627a2', N'Hero 1', N'Hero1')
INSERT [dbo].[Heros] ([Id], [PlaceHolder], [ClickUrl]) VALUES (N'6b65397b-c337-4c27-fe18-08dc5ba627a2', N'Hero 2', N'Hero2')
INSERT [dbo].[Heros] ([Id], [PlaceHolder], [ClickUrl]) VALUES (N'ab4f7447-d5dc-4771-fe19-08dc5ba627a2', N'Hero 3', N'Hero3')
GO
INSERT [dbo].[HomePageSections] ([Id], [SectionName], [SectionType]) VALUES (N'6d019acf-01c0-43bb-18ac-08dc5ba67623', N'Hero', N'Hero')
INSERT [dbo].[HomePageSections] ([Id], [SectionName], [SectionType]) VALUES (N'2ae51b7e-9e5c-4b37-708e-08dc611b5fb4', N'Book', N'Book')
GO
INSERT [dbo].[Images] ([Id], [Name], [Src], [Type], [Discriminator], [BannerId], [BookId], [UserId], [HeroId]) VALUES (N'b5c8453e-7249-4288-87c2-000f97fc1e66', N'Light for Visual Artists: Understanding & Using Light in Art & Design', N'https://res.cloudinary.com/dvlkhefdo/image/upload/v1711362557/Book_Realm/Book_Images/b5c8453e-7249-4288-87c2-000f97fc1e66.jpg', N'Book', N'BookImage', NULL, N'25cf37fc-b4ea-4208-41a7-08dc4cb5a088', NULL, NULL)
INSERT [dbo].[Images] ([Id], [Name], [Src], [Type], [Discriminator], [BannerId], [BookId], [UserId], [HeroId]) VALUES (N'fbef0b77-977a-4a3c-ace7-00c31f8496f2', N'An Actor Prepares', N'https://res.cloudinary.com/dvlkhefdo/image/upload/v1711362867/Book_Realm/Book_Images/fbef0b77-977a-4a3c-ace7-00c31f8496f2.jpg', N'Book', N'BookImage', NULL, N'dd7ce418-553c-481b-4213-08dc4cb5a088', NULL, NULL)
INSERT [dbo].[Images] ([Id], [Name], [Src], [Type], [Discriminator], [BannerId], [BookId], [UserId], [HeroId]) VALUES (N'04d39e92-9aa6-43a3-bad4-013efd0f9f82', N'The Story of Art', N'https://res.cloudinary.com/dvlkhefdo/image/upload/v1711362341/Book_Realm/Book_Images/04d39e92-9aa6-43a3-bad4-013efd0f9f82.jpg', N'Book', N'BookImage', NULL, N'ec058ddd-fbe0-4392-415e-08dc4cb5a088', NULL, NULL)
GO
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (N'48503a1f-c86d-4a8b-18f0-08dc4c2e781b', N'User', N'Normal User of Book Realm')
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (N'a2638bf0-0544-49bc-18f1-08dc4c2e781b', N'Author', N'Author of books in Book Realm')
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (N'7313ba02-87ec-457d-18f2-08dc4c2e781b', N'Publisher', N'Publisher of books in Book Realm')
GO
INSERT [dbo].[Subgenres] ([Id], [Name], [Description], [GenreId]) VALUES (N'9a49f19e-47e0-4b19-558d-08dc4c333bb8', N'temp subgenre', N'this is temp subgenre', N'0eec93d7-47a0-49be-735d-08dc4c32907b')
INSERT [dbo].[Subgenres] ([Id], [Name], [Description], [GenreId]) VALUES (N'94c040e2-221d-4ac9-2203-08dc4c8aed14', N'Background & Reference Material', N'Access foundational resources for English Language Teaching.', N'2e11f6c1-1daf-4cab-5ac7-08dc4c8a1139')
INSERT [dbo].[Subgenres] ([Id], [Name], [Description], [GenreId]) VALUES (N'26a5135b-3fc3-48f4-2204-08dc4c8aed14', N'English for Specific Purposes', N'Tailor English language education for specific fields.', N'2e11f6c1-1daf-4cab-5ac7-08dc4c8a1139')
GO
INSERT [dbo].[Tags] ([Id], [Name]) VALUES (N'f31ef2a5-fd56-455f-3794-08dc4cb5a0df', N'Early Learning')
INSERT [dbo].[Tags] ([Id], [Name]) VALUES (N'230a215b-b2a7-4176-3795-08dc4cb5a0df', N'Fun')
INSERT [dbo].[Tags] ([Id], [Name]) VALUES (N'74d16307-338c-4d42-3796-08dc4cb5a0df', N'Kid Learning')
GO
INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId]) VALUES (N'9c037556-d961-4362-e747-08dc4c3ac64f', N'b7014592-8f73-4ce6-e7c3-08dc4c3ac647', N'a2638bf0-0544-49bc-18f1-08dc4c2e781b')
INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId]) VALUES (N'0ad24bc9-e0b1-44a5-e748-08dc4c3ac64f', N'b7014592-8f73-4ce6-e7c3-08dc4c3ac647', N'48503a1f-c86d-4a8b-18f0-08dc4c2e781b')
INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId]) VALUES (N'5ea487d4-6955-417d-e749-08dc4c3ac64f', N'1d265a17-0bcf-427e-e7c4-08dc4c3ac647', N'7313ba02-87ec-457d-18f2-08dc4c2e781b')
GO
INSERT [dbo].[Wishlists] ([Id], [UserId]) VALUES (N'c6c31cca-75a9-4e8b-9201-1d0e7b73d182', N'b7014592-8f73-4ce6-e7c3-08dc4c3ac647')
INSERT [dbo].[Wishlists] ([Id], [UserId]) VALUES (N'8ee6c197-a42f-4a69-b0be-7f6fe48be670', N'1d265a17-0bcf-427e-e7c4-08dc4c3ac647')
INSERT [dbo].[Wishlists] ([Id], [UserId]) VALUES (N'41024672-68dd-40c6-8a00-08dc56003c60', N'95a1d6e4-fc72-4e93-b6a3-08dc56003c58')
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Users_UserId]
GO
ALTER TABLE [dbo].[BannersInSection]  WITH CHECK ADD  CONSTRAINT [FK_BannersInSection_Banners_BannerId] FOREIGN KEY([BannerId])
REFERENCES [dbo].[Banners] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BannersInSection] CHECK CONSTRAINT [FK_BannersInSection_Banners_BannerId]
GO
ALTER TABLE [dbo].[BannersInSection]  WITH CHECK ADD  CONSTRAINT [FK_BannersInSection_HomePageSections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[HomePageSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BannersInSection] CHECK CONSTRAINT [FK_BannersInSection_HomePageSections_SectionId]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Carts_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Carts_CartId]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Orders_OrderId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Genres_GenreId] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Genres_GenreId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Subgenres_SubgenreId] FOREIGN KEY([SubgenreId])
REFERENCES [dbo].[Subgenres] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Subgenres_SubgenreId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Users_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Users_AuthorId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Users_PublisherId] FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Users_PublisherId]
GO
ALTER TABLE [dbo].[BooksInSection]  WITH CHECK ADD  CONSTRAINT [FK_BooksInSection_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BooksInSection] CHECK CONSTRAINT [FK_BooksInSection_Books_BookId]
GO
ALTER TABLE [dbo].[BooksInSection]  WITH CHECK ADD  CONSTRAINT [FK_BooksInSection_HomePageSections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[HomePageSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BooksInSection] CHECK CONSTRAINT [FK_BooksInSection_HomePageSections_SectionId]
GO
ALTER TABLE [dbo].[BookTags]  WITH CHECK ADD  CONSTRAINT [FK_BookTags_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookTags] CHECK CONSTRAINT [FK_BookTags_Books_BookId]
GO
ALTER TABLE [dbo].[BookTags]  WITH CHECK ADD  CONSTRAINT [FK_BookTags_Tags_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookTags] CHECK CONSTRAINT [FK_BookTags_Tags_TagId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Books_BookId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Carts_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Carts_CartId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users_UserId]
GO
ALTER TABLE [dbo].[HeroInSections]  WITH CHECK ADD  CONSTRAINT [FK_HeroInSections_Heros_HeroId] FOREIGN KEY([HeroId])
REFERENCES [dbo].[Heros] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HeroInSections] CHECK CONSTRAINT [FK_HeroInSections_Heros_HeroId]
GO
ALTER TABLE [dbo].[HeroInSections]  WITH CHECK ADD  CONSTRAINT [FK_HeroInSections_HomePageSections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[HomePageSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HeroInSections] CHECK CONSTRAINT [FK_HeroInSections_HomePageSections_SectionId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Banners_BannerId] FOREIGN KEY([BannerId])
REFERENCES [dbo].[Banners] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Banners_BannerId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Books_BookId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Heros_HeroId] FOREIGN KEY([HeroId])
REFERENCES [dbo].[Heros] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Heros_HeroId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Users_UserId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Books_BookId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Books_BookId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users_UserId]
GO
ALTER TABLE [dbo].[Subgenres]  WITH CHECK ADD  CONSTRAINT [FK_Subgenres_Genres_GenreId] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subgenres] CHECK CONSTRAINT [FK_Subgenres_Genres_GenreId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[WishlistItems]  WITH CHECK ADD  CONSTRAINT [FK_WishlistItems_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WishlistItems] CHECK CONSTRAINT [FK_WishlistItems_Books_BookId]
GO
ALTER TABLE [dbo].[WishlistItems]  WITH CHECK ADD  CONSTRAINT [FK_WishlistItems_Wishlists_WishlistId] FOREIGN KEY([WishlistId])
REFERENCES [dbo].[Wishlists] ([Id])
GO
ALTER TABLE [dbo].[WishlistItems] CHECK CONSTRAINT [FK_WishlistItems_Wishlists_WishlistId]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Users_UserId]
GO
