<div class="container">
  @for (section of sections; track section) {
    @if (section.sectionType == 'Hero') {
      <app-hero [sectionId]="section.id"
      [heroIds]="section.heros"></app-hero>
    }
    @if (section.sectionType == 'Book') {
      <app-list [sectionId]="section.id"
      [sectionName]="section.sectionName" [bookIds]="section.books"></app-list>
    }
    @if (section.sectionType == 'MediumBanner') {
      <app-medium-banners [sectionId]="section.id"
      [bannerIds]="section.banners"></app-medium-banners>
    }
    @if (section.sectionType == 'SmallBanner') {
      <app-small-banners [sectionId]="section.id"
      [bannerIds]="section.banners"></app-small-banners>
    }
  }
</div>