<div class="wrapper">
    <div class="title" *ngIf="genre">
        <h3>{{genre.name}}</h3>
    </div>
    <div class="holder">
        <div class="catg" *ngFor="let subook of subgBooks">
            <div class="top">
                <div class="sub-title">
                    <h5>{{subook.description}}</h5>
                </div>
                <div class="view">
                    <a routerLink="/filter">
                        <button>
                            View All
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </a>
                </div>
            </div>
            <splide [options]="{ type: 'loop', keyboard: false,pagination:false,autoWidth:true}">
                <splide-slide *ngFor="let book of subook.books;">
                    <div class="book-item">
                        <div class="image">
                            <img [src]="book.images[0]" alt="">
                            <div class="heart">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="details">
                            <div class="rating">
                                <p class="btn-primary"> {{book.rating}} <i class="fa-solid fa-star"></i></p>
                            </div>
                            <div class="title">
                                <p>{{book.title}}</p>
                            </div>
                            <div class="author">
                                <p>{{book.authorName}}</p>
                            </div>
                            <div class="price">
                                <span class="amount"> &#8377; {{book.price}}</span>
                                <span class="cross"> &#8377; {{book.price + 100}}</span>
                                <span class="discount">(-{{book.discountPercentage}}%)</span>
                            </div>
                        </div>
                    </div>
                </splide-slide>
            </splide>
        </div>

        <div class="catg">
            <div class="top">
                <div class="sub-title">
                    <h5>Top Authors</h5>
                </div>
            </div>
            <splide [options]="{ type: 'loop', keyboard: false,pagination:false,autoWidth:true }">
                <splide-slide *ngFor="let i of [1,2,3,4,5,6,7]">
                    <div class="item">
                        <div class="image">
                            <img src="../../../assets/img/profile.png" alt="">
                        </div>
                        <div class="name">
                            <p>Wipf And Stocks</p>
                        </div>
                    </div>
                </splide-slide>
            </splide>

        </div>

        <div class="catg">
            <div class="top">
                <div class="sub-title">
                    <h5>Top Publishers</h5>
                </div>
            </div>
            <splide [options]="{ type: 'loop', keyboard: false,pagination:false,autoWidth:true }">
                <splide-slide *ngFor="let i of [1,2,3,4,5,6,7]">
                    <div class="item">
                        <div class="image">
                            <img src="../../../assets/img/profile.png" alt="">
                        </div>
                        <div class="name">
                            <p>Wipf And Stocks</p>
                        </div>
                    </div>
                </splide-slide>
            </splide>

        </div>

        <div class="catg">
            <div class="top">
                <div class="sub-title">
                    <h5>All Sub Genres</h5>
                </div>
            </div>
            <div class="sub-gener-list">
                <div class="sub-genre item" *ngFor="let subg of subgenres;">
                    <a routerLink="/sub-genre/{{subg.id}}">
                        <div class="image">
                            <img src="../../../assets/img/booklogo.png" alt="">
                        </div>
                        <div class="name">
                            <p>{{subg.name}}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>