.wrapper {
    margin-top: 130px;
    padding: 2rem 5rem;
    width: 100%;
}

.holder {
    display: flex;
    justify-content: space-between;

}

.left {
    width: 30%;
    padding: 1rem;
}

.filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text-primary {
    font-weight: 700;
    color: var(--primary-variant);
    font-size: 0.9rem;
}

.filter-catg {
    margin-top: 1rem;
}

/* -------- */

.check-box {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.check-box input {
    position: absolute;
    visibility: hidden;
}

/* Create a custom checkbox */
.check-mark {
    position: absolute;
    top: 0px;
    width: 24px;
    height: 24px;
    border: 1px solid var(--foreground-light);
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
/* .filter-item:hover input~.check-mark {
    background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
.check-box input:checked~.check-mark {
    background-color: var(--primary-variant);
    border: 1px solid var(--primary-variant);
}

/* Create the check-mark/indicator (hidden when not checked) */
.check-mark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the check-mark when checked */
.check-box input:checked~.check-mark:after {
    display: block;
}

/* Style the check-mark/indicator */
.check-box .check-mark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* -------- */

.filter-list {
    padding: 0 1rem;
    /* height: max-content; */
    height: 300px;
    /* max-height: 300px; */
    overflow: scroll;
    transition: height 300ms ease;

}

.filter-list::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
}

.filter-list::-webkit-scrollbar-thumb {
    background-color: var(--primary-variant);
    border-radius: 4px;
}

.collapse {
    height: 0px;
}

.filter-list .filter-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--border-bottom-light);
}


.filter-catg h5 {
    font-size: 0.9rem;
}

.filter-title {
    display: flex;
    justify-content: space-between;
}

.filter-title .filter-arrow {
    margin-right: 1rem;
    transform: rotate(360deg);
    transition: all 300ms ease;
}

.rotate {
    transform: rotate(270deg) !important;
}


.right {
    width: 70%;
    padding: 1rem;
}

.vr {
    border-left: 1px solid var(--foreground-light);
}

.results {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.results .sort {
    width: 30%;
    border: 1px solid var(--foreground-light);
    padding-right: 10px;
    border-radius: 8px;
}

.results select {
    outline: none;
    width: 100%;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: var(--ff-manrope);
}

select option {
    padding: 1rem;
    width: calc(100% + 10px);
    border-radius: 0;
}


option:checked {
    background-color: var(--primary-variant);
    color: var(--white);
}

option:not(:checked) {
    background-color: #fff;
}

.results h4 {
    color: var(--foreground-muted);
}

.results span {
    display: inline-block;
    color: var(--foreground-dark);
}

.list-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.list-holder .book-item {
    width: 32%;
    padding: 1rem;
    /* border: 1px solid var(--foreground-muted); */
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px rgba(159, 159, 159, 0.526);
    font-size: 0.9rem;
    transition: all 300ms ease;
    border-radius: 12px;
    position: relative;
}

.book-item:hover {
    transform: translateY(-20px);
}

.book-item .heart {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 44px;
    height: 44px;
    background-color: var(--white);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart i {
    font-size: 2rem;
    line-height: 0;
    color: var(--foreground-muted);
}


.book-item .image {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.book-item .image img {
    width: 100%;
}

.list-holder .book-item .rating {
    display: inline-block;
}

.rating .btn-primary {
    padding: 1px 8px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.btn-primary i {
    font-size: 0.8rem;
    margin-left: 7px;
}

.book-item .details {
    margin-top: 10px;
}

.book-item .title {
    font-weight: 700;
    display: -webkit-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: 1.25;
}

.book-item .author {
    color: var(--foreground-muted);
}


.price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    font-family: var(--ff-manrope);
}

.price .amount {
    font-weight: 700;
    font-size: 1rem;

}

.price .cross {
    text-decoration: line-through;
    color: var(--foreground-muted);
    text-decoration-color: var(--foreground-muted);
    text-decoration-thickness: 0.3px;
    /* text-decoratio; */
}

.price .discount {
    font-weight: 800;
    color: var(--foreground-green);
}

@media screen and (max-width:540px) {

    .wrapper {
        padding: 1rem;
    }

    .left,
    .vr {
        display: none;
    }

    .right {
        width: 100%;
    }

    .right .results {
        font-size: 1rem;
        flex-direction: column;
        gap: 10px;
    }

    .filt{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filt .fil i{
        font-size: 1.5rem;
        color: var(--primary-variant);
    }

    .results h4 {
        width: 100%;
    }

    .right .list-holder {
        gap: 10px;
    }

    option{
        font-size: 0.8rem;
    }

    .right .list-holder .book-item {
        width: 48%;
    }
}