.wrapper{
    margin-top: 80px;
    padding: 1rem 5rem;
    width:100%;
    display: flex;
    justify-content: space-between;
}

.left{
    width: 30%;
    padding: 0 1rem;
}

.main-profile{
    font-family: var(--ff-manrope);
    font-size: 1rem;
}

.main-profile .image{
    width: 80%;
    height: 80%;
    /* padding: 1rem; */
    border-radius: 50%;
    border: 1px solid var(--foreground-light);
    margin-bottom: 1rem;
    position: relative;
}

.image .cam{
    position:absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--primary-variant);
    color: var(--white);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cam i{
    line-height: 0;
    font-size: 1.5rem;

}

.image img{
    width: 100%;
}

.main-profile .name{
    font-weight: 700;
    line-height: 1.35;
}

.details{
    line-height: 1.35;
}
.main-profile .details .mobile{
    font-size: 0.9rem;
}

.main-profile .details .email{
    font-size: 0.9rem;
}
.complete{
    line-height: 1.45;
    margin-top: 10px;
}

.complete span{
    display: inline-block;
    font-weight: 800;
}

.profile-complete{
    content: "";
    width: 100%;
    border-radius: 4px;
    height: 8px;
    background-color: var(--foreground-green);
    margin-top: 5px;
}

.account{
    margin-top: 1rem;
    border-top: 1px solid var(--foreground-light);
}

.title{
    font-weight: 700;
    font-size: 1rem;
    margin-top: 10px;
}

.link-item{
    font-size: 1rem;
    margin-left: 0.9rem;
    background-color: var(--background-light);
    padding: 8px 16px;
    margin-top: 10px ;
    margin-bottom: 10px;
    border-radius: 8px;
}

.setting{
    margin-top: 1rem;
    border-top: 1px solid var(--foreground-light);
}

.other{
    margin-top: 1rem;
    border-top: 1px solid var(--foreground-light);
}
.right{
    width: 70%;
}


.vr{
    border-left: 1px dashed var(--foreground-light);
}