.full-banner-wrapper {
    width: 100%;
    padding: 0 5rem;
    margin: 50px 0;
}

.full-banner {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: var(--radius-16);
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.full-banner img {
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width: 1024px) {
    .full-banner-wrapper {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 768px) {
    .full-banner-wrapper {
        padding: 0 1rem;
    }
    .full-banner {
        border-radius: var(--radius-12);
    }
}