<div class="wrapper">
    <div class="sidebar">
        <div class="logo">
            <img src="../../../assets/img/logo.png" alt="">
        </div>
        <div class="links">
            <div class="link-group">
                <p class="name">Home</p>
                <div class="link">
                    <a href="#">Dashboard</a>
                </div>
                <div class="link">
                    <a href="#">Anaylics</a>
                </div>
                <div class="link">
                    <a href="#">Anaylics</a>
                </div>
            </div>
            <div class="link-group">
                <p class="name">Home</p>
                <div class="link">
                    <a href="#">Dashboard</a>
                </div>
                <div class="link">
                    <a href="#">Anaylics</a>
                </div>
                <div class="link">
                    <a href="#">Anaylics</a>
                </div>
            </div>
            <div class="link-group">
                <p class="name">Home</p>
                <div class="link">
                    <a href="#">Dashboard</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="top">
            <div class="user-role">
                <!-- <p>Admin Dashboard</p> -->
            </div>
            <div class="profile-photo">
                <p class="prof-name">
                    Darshan Khairnar
                </p>
                <div class="photo">
                    <img src="../../../assets/img/profile.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>