.wrapper{
    width: 60%;
    /* height: 400px; */
    padding: 2rem;
    background-color: var(--white);
    /* display: none; */
    visibility: hidden;
    border-radius: 8px;
    transform: scale(0.0001);
    transition: all 300ms ease;
    transform-origin: top;
    height: 0px;
    opacity: 0;
   
}



/* ::-webkit-scrollbar{
    display: none;
} */

.holder{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.books{
    border-bottom: 1px solid var(--foreground-light);
    margin-right: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.show{
    transform: scale(1);
    height: 400px;
    opacity: 1;
    visibility: visible;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.top .title h5 {
    font-family: var(--ff-libre-baskerville);
}

.view button {
    color: var(--primary-variant);
    font-weight: 500;
}

.results{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.result{
    width: 48%;
    
}

.result .title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--foreground-dark);
    line-height: 1;
}

.result .author{
    font-size: 0.9rem;
    margin-left: 28px;
}

.see-all{
    color: var(--foreground-dark);
}

.see-all a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.see-all i{
    margin-right: 7px;
    font-weight: 800;
    font-size: 1rem;
}

.see-all span{
    display: inline-block;
    font-weight: 700;
}

@media screen and (max-width:1260px)  {
    .wrapper{
        width: 100%;
        height: calc(100vh - 60px);
        padding: 1rem ;
        border-radius: 0;
    }

    .holder{
        padding: 1rem;
    }

    .result{
        width: 100%;
        line-height: 1.25;
    }
}