<footer>
    <div class="wrapper">
        <div class="nav">
            <ul>
                <li class="nav-link">
                    <a href="#" class="nav-item">Top Geners</a>
                    <a href="#" class="text-bold">Literature & Friction</a>
                    <a href="#" class="text-bold">Education</a>
                    <a href="#" class="text-bold">Health, Family & Personal Development</a>
                </li>
                <li class="nav-link">
                    <a href="#" class="nav-item">Discover</a>
                    <a href="#" class="text-bold">Science</a>
                    <a href="#" class="text-bold">Friction Novels</a>
                    <a href="#" class="text-bold">Fantasy</a>
                </li>
                <li class="nav-link">
                    <a href="#" class="nav-item">Friction</a>
                    <a href="#" class="text-bold">Science</a>
                    <a href="#" class="text-bold">Friction Novels</a>
                    <a href="#" class="text-bold">Fantasy</a>
                </li>
                <li class="nav-link">
                    <a href="#" class="nav-item">Exam Prep</a>
                    <a href="#" class="text-bold">Government & Bank Exams</a>
                    <a href="#" class="text-bold">Grade Wise</a>
                    <a href="#" class="text-bold">Indian Defence Forces</a>
                    <a href="#" class="text-bold">Entrance Exam</a>
                </li>
            </ul>
            <div class="contact">
                <p class="title">Stay updated with our news letter</p>
                <div class="form">
                    <div class="input">
                        <input type="text" name="" placeholder="Email Address">
                        <div class="button">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>