<div class="wrapper">
    <div class="title">
        <h4>Wish List</h4>
    </div>
    <div class="holder">
        <div class="cart-holder">

            <div class="cart-item">
                <div class="img">
                    <img src="../../../assets/img/book.webp" alt="">
                </div>
                <div class="details">
                    <div class="top">
                        <div class="book-details">
                            <div class="title">
                                <p>Anxious People: A Novel</p>
                            </div>
                            <div class="author">
                                <p>Fredrik Backman</p>
                            </div>
                        </div>
                        <div class="delete">
                            <button><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                    <div class="bottom">

                        <div class="price">
                            <span class="amount"> &#8377; 181</span>
                            <span class="cross"> &#8377; 185</span>
                            <span class="discount">(-7%)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-item">
                <div class="img">
                    <img src="../../../assets/img/book.webp" alt="">
                </div>
                <div class="details">
                    <div class="top">
                        <div class="book-details">
                            <div class="title">
                                <p>Anxious People: A Novel</p>
                            </div>
                            <div class="author">
                                <p>Fredrik Backman</p>
                            </div>
                        </div>
                        <div class="delete">
                            <button><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                    <div class="bottom">

                        <div class="price">
                            <span class="amount"> &#8377; 181</span>
                            <span class="cross"> &#8377; 185</span>
                            <span class="discount">(-7%)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-item">
                <div class="img">
                    <img src="../../../assets/img/book.webp" alt="">
                </div>
                <div class="details">
                    <div class="top">
                        <div class="book-details">
                            <div class="title">
                                <p>Anxious People: A Novel</p>
                            </div>
                            <div class="author">
                                <p>Fredrik Backman</p>
                            </div>
                        </div>
                        <div class="delete">
                            <button><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                    <div class="bottom">

                        <div class="price">
                            <span class="amount"> &#8377; 181</span>
                            <span class="cross"> &#8377; 185</span>
                            <span class="discount">(-7%)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-item">
                <div class="img">
                    <img src="../../../assets/img/book.webp" alt="">
                </div>
                <div class="details">
                    <div class="top">
                        <div class="book-details">
                            <div class="title">
                                <p>Anxious People: A Novel</p>
                            </div>
                            <div class="author">
                                <p>Fredrik Backman</p>
                            </div>
                        </div>
                        <div class="delete">
                            <button><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                    <div class="bottom">

                        <div class="price">
                            <span class="amount"> &#8377; 181</span>
                            <span class="cross"> &#8377; 185</span>
                            <span class="discount">(-7%)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-item">
                <div class="img">
                    <img src="../../../assets/img/book.webp" alt="">
                </div>
                <div class="details">
                    <div class="top">
                        <div class="book-details">
                            <div class="title">
                                <p>Anxious People: A Novel</p>
                            </div>
                            <div class="author">
                                <p>Fredrik Backman</p>
                            </div>
                        </div>
                        <div class="delete">
                            <button><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                    <div class="bottom">

                        <div class="price">
                            <span class="amount"> &#8377; 181</span>
                            <span class="cross"> &#8377; 185</span>
                            <span class="discount">(-7%)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-item">
                <div class="img">
                    <img src="../../../assets/img/book.webp" alt="">
                </div>
                <div class="details">
                    <div class="top">
                        <div class="book-details">
                            <div class="title">
                                <p>Anxious People: A Novel</p>
                            </div>
                            <div class="author">
                                <p>Fredrik Backman</p>
                            </div>
                        </div>
                        <div class="delete">
                            <button><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                    <div class="bottom">

                        <div class="price">
                            <span class="amount"> &#8377; 181</span>
                            <span class="cross"> &#8377; 185</span>
                            <span class="discount">(-7%)</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>