.wrapper{
    padding-bottom: 1rem;
}

.wrapper .details{
    margin-top: 1rem;
}

.wrapper .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .details{
    margin-left: 1rem;
    border:1px solid var(--foreground-light);
    border-radius: 12px;
    padding: 10px
}

.form{
    width: 100%;
}

.form-item{
    width: 50%;
    margin: 10px 0;
}

.form-item label{
    font-family: var(--ff-manrope);
    font-weight: 700;
}
.form-item input{
    outline: none;
    border: 1px solid var(--background-dark);
    border-radius: 4px;
    padding: 4px 8px;
}

.form-button{
    margin-top: 1rem;
}

@media screen and (max-width:840px) {
    
    .form-item{
        width: 100%;
    }
}
