.wrapper{
    padding-bottom: 1rem;
}

.wrapper .details{
    margin-top: 1rem;
}

.wrapper .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .details{
    margin-left: 1rem;
    border:1px solid var(--foreground-light);
    border-radius: 12px;
    padding: 10px
}
