<div class="wrapper">
  <div class="title">
    <h5>Saved Address</h5>
    <div class="edit">
      @if (!isEditing) {
        <button class="btn btn-primary" (click)="editAddress()">
          Edit
        </button>
      }
      @if (isEditing) {
        <button class="btn btn-primary" (click)="updateAddress()">
          Update
        </button>
      }
    </div>
  </div>
  @if (!isEditing) {
    <div class="details">
      <p class="addr">
        Anand Nagar Malegaon Anand Nagar <br>
        Malegaon Maharashtra
        <br> 423203
        </p>
      </div>
    }
    @if (isEditing) {
      <div class="profile-edit">
        <div class="form">
          <div class="form-item">
            <label for="address">Address</label>
            <textarea name="address"></textarea>
          </div>
        </div>
      </div>
    }
  </div>