<div class="wrapper" #wrapper>
    <div class="holder">
        <div class="books">
            <div class="top">
                <div class="title">
                    <h5>Results In Books</h5>
                </div>
                <div class="view">
                    <a href="#">
                        <button>
                            View All
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="results">
                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>

                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>

                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>

                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>

                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="books">
            <div class="top">
                <div class="title">
                    <h5>Results In Books</h5>
                </div>
                <div class="view">
                    <a href="#">
                        <button>
                            View All
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="results">
                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>

                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>

                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>

                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>

                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="books">
            <div class="top">
                <div class="title">
                    <h5>Results In Books</h5>
                </div>
                <div class="view">
                    <a href="#">
                        <button>
                            View All
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="results">
                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>

                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>

                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>

                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>

                <div class="result">
                    <div class="title">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <p>Think And Grow Rich</p>
                    </div>
                    <div class="author">
                        <p>Luise Fellip</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="see-all">
            <a href="#"><i class="fi fi-rr-search"></i> <p>See All Results For <span>{{query}}</span></p></a>
        </div>
    </div>
</div>