<div class="wrapper">
  <div class="big-screen">
    <splide
      [options]="{
        type: 'loop',
        perPage: 1,
        keyboard: false,
        autoplay: true,
        interval: 4000
      }"
    >
      @for (hero of heroData; track hero) {
      <splide-slide>
        <a [routerLink]="hero.clickUrl" class="hero-slide">
          <img [src]="hero.heroImages[0]" alt="Book Banner" />
        </a>
      </splide-slide>
      }
    </splide>
  </div>
  <div class="small-screen">
    <splide
      [options]="{
        type: 'loop',
        perPage: 1,
        keyboard: false,
        autoplay: true,
        interval: 4000,
        arrows: false
      }"
    >
      @for (hero of heroData; track hero) {
      <splide-slide>
        <a [routerLink]="hero.clickUrl" class="hero-slide">
          <img [src]="hero.heroImages[1]" alt="Book Banner" />
        </a>
      </splide-slide>
      }
    </splide>
  </div>
</div>
