img {
    width: 100% !important;
    height: auto !important;
    display: block;
}

.wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.hero-slide {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero-slide img {
    width: 100%;
    height: auto;
    display: block;
}

.small-screen {
    display: none;
}

@media screen and (max-width:768px) {
    .big-screen {
        display: none;
    }

    .small-screen {
        display: block;
    }

    .hero-slide {
        height: auto;
    }

    .splide__arrow {
        display: none !important;
    }
}

@media screen and (max-width:480px) {
    .hero-slide {
        height: auto;
    }
}