<div class="wrapper">
  <div class="big-screen">
    <splide [options]="{ type: 'loop', perPage: 1, keyboard: false, autoplay: true,interval:1000}">
      @for (hero of heroData; track hero) {
        <splide-slide>
          <img [src]="hero.heroImages[0]" alt="" />
        </splide-slide>
      }
    </splide>
  </div>
  <div class="small-screen">
    <splide [options]="{ type: 'loop', perPage: 1, keyboard: false, autoplay: false,interval:1000, arrows:false }">
      @for (hero of heroData; track hero) {
        <splide-slide>
          <img [src]="hero.heroImages[1]" alt="" />
        </splide-slide>
      }
    </splide>
  </div>
</div>