<div class="container">
    <app-hero></app-hero>
    <app-list [books]="genre1books"></app-list>
    <app-list [books]="genre2books"></app-list>
    <app-list [books]="genre3books"></app-list>
    <app-small-banners></app-small-banners>
    <app-large-banners></app-large-banners>
    <app-list [books]="genre4books"></app-list>
    <app-list [books]="genre5books"></app-list>
    <app-list [books]="genre6books"></app-list>
    <app-small-banners></app-small-banners>
    <app-large-banners></app-large-banners>
</div>