<header>
    <div class="container">
        <div class="logo-wrapper">
            <div class="menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo">
                <img src="../../../assets/img/logo.png" alt="Book Realm Logo">
            </div>
        </div>
        <div class="nav-wrapper">
           <nav>
                <ul>
                    <li class="nav-item"> <a href="#">Top Geners</a> </li>
                    <li class="nav-item"> <a href="#">Discover</a> </li>
                    <li class="nav-item"> <a href="#">Friction</a> </li>
                    <li class="nav-item"> <a href="#">Exam Prep</a> </li>
                </ul>
           </nav>
           <div class="search">
                <div class="search-box">
                    <div class="search-icon">
                        <i class="fi fi-rr-search"></i>
                    </div>
                    <input type="search" name="query" placeholder="Search books, authors, publishers">
                </div>
           </div>
        </div>
        <div class="icon-wrapper">
            <div class="head-icons">
                <div class="sign-in">
                    <button class="btn btn-primary">Sign In</button>
                </div>
                <div class="icon">
                    <i class="fi fi-rr-search"></i>
                </div>
                <div class="icon">
                    <i class="fa-regular fa-bookmark"></i>
                </div>
                <div class="icon">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="icon">
                    <i class="fi fi-rr-shopping-cart"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="slider" #slider>
        <div class="tags">
            <ul>
                <li>
                    <a href="#">
                        <i class="fi fi-rr-book-bookmark"></i>
                        <p>Academics</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fi fi-rr-sword"></i>
                        <p>Friction</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fi fi-rr-head-side-thinking"></i>
                        <p>Non Friction</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fi fi-rr-child-head"></i>
                        <p>Children</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fi fi-rr-language"></i>
                        <p>Languages</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fi fi-rr-spider-web"></i>
                        <p>Comics</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fi fi-rr-trophy-star"></i>
                       <p> Bestsellers</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>