<header #fullElement>
    <div class="container">
        <div class="logo-wrapper">
            <button class="menu" (click)="toggleSidebar()">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="logo">
               <a routerLink="home"> <img src="../../../assets/img/logo.png" alt="Book Realm Logo"></a>
            </div>
        </div>
        <div class="nav-wrapper">
            <nav>
                <ul class="nav">
                    <li class="nav-link" #topgeners (mouseenter)="mouseOver(topgeners)"
                        (mouseleave)="mouseOut(topgeners)" title="topgeners">
                        <a routerLink="#" class="nav-item">Top Geners</a>
                        <div class="hover-model" #hovertopGenerModel>
                            <div class="content">
                                <div class="links">
                                    <div class="catg-1">
                                        <ul>
                                            <li><a routerLink="/genre/1" class="text-bold">Art, Film & Photography</a></li>
                                            <li> <a routerLink="/sub-genre/1">Architecture</a></li>
                                            <li> <a routerLink="/sub-genre/2">Art Forms</a></li>
                                            <li><a routerLink="/sub-genre/3">Art Treatments & Subjects</a></li>
                                            <li> <a routerLink="/sub-genre/4">Dance & Other Performing Arts</a></li>
                                            <li> <a routerLink="/sub-genre/5">Film, TV & Radio</a></li>
                                            <li> <a routerLink="genre/1" class="text-primary"> +5 More</a></li>
                                   </ul>
                                    </div>
                                    <div class="catg-3">
                                        <ul>
                                            <li><a routerLink="/genre/2" class="text-bold">Literature & Friction</a></li>
                                            <li> <a routerLink="#">Religus & Spritual Friction</a></li>
                                            <li><a routerLink="#">Historical</a></li>
                                            <li> <a routerLink="#">Aciton & Adventure</a></li>
                                            <li> <a routerLink="#" class="text-primary"> +10 More</a></li>
                                         </ul>
                                    </div>
                                    <div class="catg-2">
                                        <ul>
                                            <li><a routerLink="#" class="text-bold">Health, Family & Personal Development</a>
                                            </li>
                                            <li> <a routerLink="#">Addiction & Recovery</a></li>
                                            <li><a routerLink="#">Public Speaking</a></li>
                                            <li> <a routerLink="#" class="text-primary"> +10 More</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-link" #discover (mouseover)="mouseOver(discover)" (mouseout)="mouseOut(discover)"
                        title="discover">
                        <a routerLink="#" class="nav-item">Discover</a>
                        <div class="hover-model" #hoverDiscoverModel>
                            <div class="content">
                                <div class="links">
                                    <div class="catg-1">
                                        <ul>
                                            <li><a routerLink="#" class="text-bold">Art, Film & Photography</a></li>
                                            <li> <a routerLink="#"> Architecture</a></li>
                                            <li><a routerLink="#">Cinema & Broadcast</a></li>
                                            <li> <a routerLink="#">Theater & Ballet</a></li>
                                            <li> <a routerLink="#">Design & Fashion</a></li>
                                            <li> <a routerLink="#">Photography</a></li>
                                            <li> <a routerLink="#" class="text-primary"> +2 More</a></li>
                                        </ul>
                                    </div>
                                    <div class="catg-1">
                                        <ul>
                                            <li><a routerLink="#" class="text-bold">Reference</a></li>
                                            <li> <a routerLink="#"> Reference Books</a></li>
                                            <li><a routerLink="#">Words, Language & Grammar</a></li>
                                            <li> <a routerLink="#">Dictionaries & Thesauruses</a></li>
                                            <li> <a routerLink="#" class="text-primary"> +10 More</a></li>
                                        </ul>
                                    </div>
                                    <div class="catg-1">
                                        <ul>
                                            <li><a routerLink="#" class="text-bold">Activities & Interests
                                                    Poetry</a></li>
                                            <li> <a routerLink="#">Picture Books for Kids</a></li>
                                            <li><a routerLink="#">For the Young Ones</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-link" #friction (mouseover)="mouseOver(friction)" (mouseout)="mouseOut(friction)"
                        title="friction">
                        <a routerLink="#" class="nav-item">Friction</a>
                        <div class="hover-model" #hoverFrictionModel>
                            <div class="content">
                                <div class="links">
                                    <div class="catg-1">
                                        <ul>
                                            <li><a routerLink="#" class="text-bold">Science</a></li>
                                            <li> <a routerLink="#">Explore the Galaxy</a></li>
                                            <li><a routerLink="#">For the Curious Minds</a></li>
                                            <li> <a routerLink="#">Space & Planets</a></li>

                                        </ul>
                                    </div>
                                    <div class="catg-1">
                                        <ul>
                                            <li><a routerLink="#" class="text-bold">Friction Novels</a></li>
                                            <li> <a routerLink="#">Comics</a></li>
                                            <li><a routerLink="#">Graphics Novels</a></li>
                                            <li> <a routerLink="#">Magzines</a></li>

                                        </ul>
                                    </div>
                                    <div class="catg-1">
                                        <ul>
                                            <li><a routerLink="#" class="text-bold">Fantasy</a></li>
                                            <li> <a routerLink="#">Romance</a></li>
                                            <li><a routerLink="#">Love & Hate</a></li>
                                            <li> <a routerLink="#">Misicals</a></li>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-link" #examprep (mouseover)="mouseOver(examprep)" (mouseout)="mouseOut(examprep)"
                        title="examprep">
                        <a routerLink="#" class="nav-item">Exam Prep</a>
                        <div class="hover-model" #hoverExamprepModel>
                            <div class="content">
                                <div class="links">
                                    <div class="catg-1">
                                        <ul>
                                            <li><a routerLink="#" class="text-bold">Government & Bank Exams</a></li>
                                            <li> <a routerLink="#">Class 1-5</a></li>
                                            <li><a routerLink="#">Class 6-8</a></li>
                                            <li> <a routerLink="#">Class 9-10</a></li>
                                            <li><a routerLink="#">Class 11- 12</a></li>
                                        </ul>
                                    </div>
                                    <div class="catg-1">
                                        <ul>
                                            <li><a routerLink="#" class="text-bold">Grade Wise</a></li>
                                            <li> <a routerLink="#">Civil Service</a></li>
                                            <li><a routerLink="#">Staff Selection Commission</a></li>
                                            <li> <a routerLink="#">Bank</a></li>
                                            <li><a routerLink="#">State Public Service</a></li>
                                        </ul>
                                    </div>
                                    <div class="catg-1">
                                        <ul>
                                            <li><a routerLink="#" class="text-bold">Indian Defence Forces</a></li>
                                            <li> <a routerLink="#">Indian Army</a></li>
                                            <li><a routerLink="#">Indian Air force</a></li>
                                            <li> <a routerLink="#">Indian Navy</a></li>
                                        </ul>
                                    </div>
                                    <div class="catg-1">
                                        <ul>
                                            <li><a routerLink="#" class="text-bold">Entrance Exam</a></li>
                                            <li> <a routerLink="#">IIT- JEE</a></li>
                                            <li><a routerLink="#">NEET</a></li>
                                            <li> <a routerLink="#">Teacher Recruitment</a></li>
                                            <li><a routerLink="#">CA</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="search">
                <div class="search-box">
                    <div class="search-icon-box">
                        <i class="fi fi-rr-search"></i>
                    </div>
                   <form>
                    <input type="text" name="query" placeholder="Search books, authors, publishers" (focus)="getSearchQuery($event)" (input)="getSearchQuery($event)">
                   </form>
                </div>
                <div class="search-result">
                    <app-search [query]="searchQuery"></app-search>
                </div>
            </div>
        </div>
        <div class="icon-wrapper">
            <div class="head-icons">
                <div class="sign-in" *ngIf="!ifLoggedIn">
                    <button class="btn btn-primary">
                        <a routerLink="signin">Sign In</a>
                    </button>
                </div>
                <div class="icon search-icon" (click)="toggleSidebar()">
                    <i class="fi fi-rr-search"></i>
                </div>
                <div class="icon">
                    <a routerLink="wishlist"><i class="fa-regular fa-bookmark"></i></a>
                </div>
                <div class="icon">
                    <a routerLink="cart"><i class="fi fi-rr-shopping-cart"></i></a>
                </div>
                <div class="icon" *ngIf="ifLoggedIn">
                    <button><i class="fa-regular fa-user" #showprofbtn></i></button>
                    <div class="profile-dropdown" #profile>
                        <div class="profile" *ngIf="ifLoggedIn">
                            <div class="profile-photo">
                                <div class="photo">
                                    <img src="../../../assets/img/profile.png" alt="">
                                </div>
                                <p class="prof-name">
                                    Darshan Khairnar
                                </p>
                                <div class="profile-btn">
                                    <button class="btn btn-outline" (click)="hideProfile()">
                                        <a routerLink="profile"  #showprof>View Profile</a>
                                    </button>
                                </div>
                            </div>
                            <div class="account">
                                <div class="section">
                                   
                                    <ul>
                                        
                                        <li class="account-item">
                                          <div class="account-icon">
                                            <i class="fa-solid fa-box"></i>
                                          </div>
                                            <p>My Orders</p>
                                        </li>

                                        <li class="account-item">
                                            <div class="account-icon">
                                                <i class="fa-solid fa-location-dot"></i>
                                            </div>
                                            <p>Saved Address</p>
                                        </li>

                                        <li class="account-item">
                                           <div class="account-icon">
                                            <i class="fa-solid fa-gear"></i>
                                           </div>
                                            <p>Settings</p>
                                        </li>

                                        <li class="account-item">
                                            <div class="account-icon">
                                                <i class="fa-solid fa-right-from-bracket"></i>
                                            </div>
                                            <p>Logout</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider" #slider>
        <div class="tags">
            <ul>
                <li>
                    <a routerLink="/genre">
                        <i class="fi fi-rr-book-bookmark"></i>
                        <p>Academics</p>
                    </a>
                </li>
                <li>
                    <a routerLink="#">
                        <i class="fi fi-rr-sword"></i>
                        <p>Friction</p>
                    </a>
                </li>
                <li>
                    <a routerLink="#">
                        <i class="fi fi-rr-head-side-thinking"></i>
                        <p>Non Friction</p>
                    </a>
                </li>
                <li>
                    <a routerLink="#">
                        <i class="fi fi-rr-child-head"></i>
                        <p>Children</p>
                    </a>
                </li>
                <li>
                    <a routerLink="#">
                        <i class="fi fi-rr-language"></i>
                        <p>Languages</p>
                    </a>
                </li>
                <li>
                    <a routerLink="#">
                        <i class="fi fi-rr-spider-web"></i>
                        <p>Comics</p>
                    </a>
                </li>
                <li>
                    <a routerLink="#">
                        <i class="fi fi-rr-trophy-star"></i>
                        <p> Bestsellers</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>