/* header {
    
} */

.container {
    height: 60px;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--background-light);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--white);
}

.logo-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.logo-wrapper .menu {
    display: none;
    font-size: 1.8rem;
    margin-right: 1rem;
    line-height: 0;
}

.logo-wrapper .logo {
    width: 150px;
}

.logo-wrapper .logo img {
    width: 100%;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    color: var(--foreground-muted);
}

.nav-wrapper nav .nav {
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.nav-wrapper nav .nav .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper nav .nav .nav-link .nav-item{
    font-weight: 500;
    transition: all 0.4s ease;
    position: relative;

}

.nav-wrapper .nav .nav-link .nav-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: var(--primary-variant);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease;
}

.nav-wrapper nav .nav .nav-link:hover .nav-item{
    font-weight: 700;
}

.nav-wrapper nav .nav .nav-link:hover .nav-item::before{
    visibility: visible;
    transform: scaleX(1);
}

.nav-wrapper nav {
    width: 55%;
    display: flex;
}

.nav-wrapper .search {
    width: 40%;
}

.nav-wrapper .search .search-box .search-icon {
    color: var(--foreground-light);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.search-icon i {
    height: fit-content;
}

.nav-wrapper .search .search-box {
    display: flex;
    border: 1.2px solid var(--foreground-light);
    border-radius: 4px;
}

.nav-wrapper .search .search-box input {
    padding: 8px 8px 8px 0;
}

.nav-wrapper .search .search-box input:focus {
    outline: none;
}

.icon-wrapper {
    width: 20%;
}

.icon-wrapper .head-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.head-icons .icon {
    font-size: 1.3rem;
    line-height: 0;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-icon{
    display: none;
}

.sign-in{
    margin-right: 1rem;
}

.hide{
    display: none !important;
}


.slider{
    margin-top: 60px;
    width: 100%;
    height: 70px;
    padding-left: 5rem;
    padding-right: 5rem;
    box-shadow: var(--bottom-shadow);
    display: flex;
    align-items: center;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99; */
    transition: all 600ms ease;
    background-color: var(--white);
}

.slider-show{
    transform: translateY(0px);
}

.slider-hide{
    transform: translateY(-70px);
}


.slider .tags{
    width: 100%;
    display: flex;
   justify-content: center;
   font-size: 1rem;
   color: var(--foreground-muted);
}

.slider .tags ul{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.slider .tags ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .tags ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    line-height: 0;
    min-width: 120px;
    transition: all 300ms ease;
}

.slider .tags ul li:hover a{
    font-weight: 800;
}

.hover-model{
    position: fixed;
    top: 51px;
    z-index: 11;
    /* height: 200px; */
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transform: translateY(-61px);
    transform: scale(0.00001);
    transform-origin: top;
    transition: transform 300ms ease-out;
}


.show{
    visibility: visible;
    transform:scale(1) translateY(-20px);
}

.content{
    width: 90%;
    /* height: 80%; */
    /* height: 200px; */
    padding: 1rem 2rem;
    background-color:var(--white);
    box-shadow: var(--bottom-shadow);
    border-radius: 10px; 
    margin-top: 40px;
    color: var(--foreground-dark);
}


.content .links{
    display: flex;
}

.catg-1,.catg-2,.catg-3{
    width: 25%;
}


.content .links ul li a{
    /* margin-bottom: 0.3rem; */
    font-size: 0.9rem;
}

.content .links ul li .text-primary{
    font-weight: 600;
    color: var(--primary-variant);
}
.content .links ul li:hover a{
    color: var(--primary-variant);
}

.content .links ul li{
    margin-bottom: 0.5rem;
}

.text-bold{
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.profile-dropdown{
    display: none;
    position: fixed;
    top: 61px;
    right: 12px;
    background-color: var(--white);
    z-index: 104;
    /* border: 1px solid black; */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: var(--bottom-shadow);
    transform: scale(0.0001);
    transition:transform 300ms ease;
    font-size: 0.8rem;
}

.show-profile{
    transform: scale(1);
    display: block;
}

.profile{
    font-size: 1rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.prof-name{
    height: 100%;
    line-height: 1.24;
    overflow: hidden;
    word-break: normal;
    text-overflow: ellipsis;
    padding: 1rem;
}

.photo{
    width:44px;
    height:44px;
}

.profile-btn{
    line-height: 1.25;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.profile-btn .btn{
    padding: 10px 10px;
}
.profile-photo img{
    width: 100%;
    height: 100%;
}

.account{
    color: var(--foreground-dark);
}



.account .account-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 300ms ease;
    border-top: 1px solid var(--border-bottom-light);
}

.account .account-item i{
    width: 20%;
    margin-right: 4px;
}


.account .account-item:hover{
    font-weight: 700;
}

.account-icon{
    /* width: 34px; */
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


@media screen and (max-width:540px) {

    .container {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }

    .logo-wrapper .menu {
        display: block;
    }

    .logo-wrapper {
        width: 60%;
    }

    .logo-wrapper .logo {
        width: 150px;
    }

    .nav-wrapper {
        display: none;
    }

    .hover-model{
        display: none;
    }

    .search-icon{
        display: block;
    }

    .icon-wrapper {
        width: 35%
    }

    .icon-wrapper .sign-in{
        display: none;
    }

    .slider{
        padding: 0.3rem 1rem;
        height: 40px;
    }

    .slider .tags{
        overflow: scroll;
        height: 100%;
    }

    .slider .tags::-webkit-scrollbar{
        display: none;
    }
    
    .slider .tags ul{
        width: 100%;        
    }
    
    
    .slider .tags ul li a{
       min-width: 100px;
    }
    
    

}

@media screen and (min-width:540px) and (max-width:840px) {

    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .logo-wrapper .menu {
        display: block;
    }

    .nav-wrapper {
        display: none;
    }
    .search-icon{
        display: block;
    }

    .hover-model{
        display: none;
    }

    .icon-wrapper {
        width: 40%
    }

    .slider{
        padding: 0.3rem 1rem;
        height: 40px;
    }

    .slider .tags{
        overflow: scroll;
        height: 100%;
    }

    .slider .tags::-webkit-scrollbar{
        display: none;
    }
    
    .slider .tags ul{
        width: 100%;        
    }
    
    
    .slider .tags ul li a{
       min-width: 100px;
    }

}

@media screen and (min-width:840px) and (max-width:1024px) {
    .icon-wrapper {
        width: 30%
    }
}

@media screen and (min-width:1024px) and (max-width:1260px) {
    .icon-wrapper {
        width: 25%
    }
}
@media screen and (min-width:840px) and (max-width:1260px) {

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nav-wrapper {
        display: none;
    }

    .search-icon{
        display: block;
    }

    .logo-wrapper .menu{
        display: block;
    }

    .slider{
        padding: 1rem 2rem;
    }

    .slider .tags ul{
        width: 100%;
    }

}