<div class="wrapper">
    <div class="title">
        <h5>Change Password</h5>
    </div>
    <div class="profile-edit">
         <div class="form">
            <div class="form-item">
                <label for="name">Previous Password</label>
                <input type="text" name="name">
            </div>
            <div class="form-item">
                <label for="newpass">New Password</label>
                <input type="password" name="newpass">
            </div>
            <div class="form-item">
                <label for="confirmpass">Confirm Password</label>
                <input type="password" name="confirmpass">
            </div>
           
            <div class="form-button">
                <button class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>