app-sidebar{
    position: fixed;
    top: 0;
    z-index: 101;
    width: 100%;
}

app-header{
    height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}


.main{
    width: 100%;
}

@media screen and (min-width:840px) {
    .main{
        margin-top: 100px;
    }
    
}